<%
var pageName = "home"

%>

  <%- include( '_partial/head.ejs', {pageName: pageName})%>
    <%- include( '_partial/header.ejs')%>

      <div class="l-container">
        <main class="l-section-wrap">
          <section class="l-section">
          <div class="c-hero">
          <figure class="c-hero__logo">
          <img src="./assets/images/logo.svg" alt="">
        </figure>
        <p class="c-hero__text">公式サポートサイト</p>
          </div>

            <h2>このサイトについて</h2>
            <p>
              このサイトは「Webデザイナーの仕事を楽にする! gulpではじめるWeb制作ワークフロー入門」（シーアンドアール研究所）のサポートサイトです。<br>
              紙幅の都合で本書から省いた情報や、環境の変化による内容の補足、誤りの修正などの情報を掲載します。
            </p>
            <p>
              このサイトは著者により運営されており、シーアンドアール研究所とは一切関係ありません。
            </p>
          </section>

          <section class="l-section">
            <h2>書籍情報</h2>
            <div class="p-bookinfo">
              <div class="p-bookinfo__visual">
                <figure>
                  <img src="./assets/images/cover01.jpg" alt="">
                </figure>
              </div>
              <div class="p-bookinfo__data">
                <p>Webデザイナーの仕事を楽にする! gulpではじめるWeb制作ワークフロー入門</p>
                <p>
                  <time>2018/5/29</time>発売</p>
                <dl>
                  <dt>出版社</dt>
                  <dt>C&R研究所</dt>
                  <dt>定価</dt>
                  <dt>3,420 + 税</dt>
                </dl>
                <a href="https://amzn.to/2IDOysY">amazon</a>
                <a href=""></a>
              </div>
            </div>
          </section>

          <section class="l-section">

            <h2>内容紹介</h2>
            <p>
              本書では、タスク自動化ツール「gulp」(ガルプ)を使った効率的なWeb制作を実現する方法を丁寧に解説しています。
              <br> コマンドラインの基本から環境の構築、実践的なテクニックと順を追って学べる内容です。
              <br> とにかく忙しい/もっと楽をしたいというWeb制作者にお勧めの1冊です。
            </p>
          </section>

          <section class="l-section">
            <h2>
              コンテンツ
            </h2>
            <ol>
              <li>CHAPTER 01　gulpの概要</li>
              <li>CHAPTER 02　コマンドラインの使い方を覚えよう</li>
              <li>CHAPTER 03　開発環境を構築しよう</li>
              <li>CHAPTER 04　はじめてのgulp</li>
              <li>CHAPTER 05　実践gulp</li>
              <li>CHAPTER 06　webpackを利用しよう</li>
              <li>CHAPTER 07　開発を便利にするツール</li>
            </ol>
          </section>
        </main>


        <%
var eratta = [
  {
    "page": 211,
    "spot": "サンプルコード ファイル名",
    "line": null,
    "error": "app.js",
    "ok": "main.js"
  }
]

%>

          <section>
            <h2>正誤表</h2>
            <p>
              <ul>
                <% for(e of eratta) {%>
                  <li>
                    <%= e.page %>ページ
                      <%= e.spot %>
                        <% if(e.line) { %>
                          <%= e.line %>行目
                            <% } %>
                              （誤）
                              <%= e.error %> → （正）
                                <%= e.ok %>
                  </li>
                  <% } %>
              </ul>

            </p>
          </section>

      </div>
      </body>

      </html>
