<%

var pageTitle = "参考リンク"

var links = [
  {
    'chapter_no': "CHAPTER01",
    'sections' : [
      {
        "section_no": "SECTION-001",
        "section_title": "",
        "refs": [
          {
            "link_text": "gulpjs/gulp: The streaming build system",
            "url": "https://github.com/gulpjs/gulp"
          },
          {
            "link_text": "gulp.js",
            "url": "https://github.com/gulpjs/gulp"
          }
        ]
      },
      {
        "section_no": "SECTION-002",
        "section_title": "",
        "refs": [
          {
            "link_text": "Progate | プログラミングの入門なら基礎から学べるProgate[プロゲート]",
            "url": "https://github.com/gulpjs/gulp"
          },
          {
            "link_text": "ドットインストール - 3分動画でマスターする初心者向けプログラミング学習サイト",
            "url": "https://dotinstall.com/"
          }
        ]
      },
      {
        "section_no": "SECTION-003",
        "section_title": "",
        "refs": [
          {
            "link_text": "google/web-starter-kit: Web Starter Kit - a workflow for multi-device websites",
            "url": "https://github.com/google/web-starter-kit"
          },
          {
            "link_text": "uswds/uswds: The U.S. Web Design System is a design system for building fast, accessible, mobile-friendly federal government websites.",
            "url": "https://github.com/uswds/uswds"
          }
        ]
      }
    ],
  },
  {
    'chapter_no': "CHAPTER03",
    "section_title": "",
    'sections' : [
      {
        "section_no": "SECTION-012",
        "section_title": "Homebrewの概要とインストール（macOS）",
        "refs": [
          {
            "link_text": "Homebrew — macOS 用パッケージマネージャー",
            "url": "https://brew.sh/index_ja.html"
          }
        ]
      },
      {
        "section_no": "SECTION-013",
        "section_title": "Homebrew-Caskの概要とインストール（macOS）",
        "refs": [
          {
            "link_text": "Homebrew-Cask",
            "url": "https://caskroom.github.io/"
          }
        ]
      },
      {
        "section_no": "SECTION-014",
        "section_title": "chocolateyの概要とインストール（Windows)",
        "refs": [
          {
            "link_text": "Chocolatey - The package manager for Windows",
            "url": "https://chocolatey.org/"
          },
          {
            "link_text": "Installation",
            "url": "https://chocolatey.org/install"
          },
          {
            "link_text": "Chocolatey Gallery | Packages",
            "url": "https://chocolatey.org/packages"
          }
        ]
      },
      {
        "section_no": "SECTION-015",
        "section_title": "Node.jsの概要",
        "refs": [
          {
            "link_text": "Node.js",
            "url": "https://nodejs.org/ja/"
          }
        ]
      },
      {
        "section_no": "SECTION-016",
        "section_title": "Node.jsの環境構築（Mac）",
        "refs": [
          {
            "url": "https://github.com/riywo/anyenv",
            "link_text": "Node.js",
          }
        ]
      },
    ],
  },
  {
    'chapter_no': "CHAPTER05",
    'sections' : [
      {
        "section_no": "SECTION-018",
        "section_title": "Node.jsの環境構築（Mac）",
        "refs": [
          {
            "url": "https://www.npmjs.com/",
            "link_text": "npm",
          }
        ]
      },
      {
        "section_no": "SECTION-020",
        "section_title": "gulpのインストール",
        "refs": [
          {
            "url": "https://gulpjs.com/",
            "link_text": "gulp.js",
          },
          {
            "url": "https://www.npmjs.com/package/gulp",
            "link_text": "gulp - npm",
          }
        ]
      },
      {
        "section_no": "SECTION-025",
        "section_title": "gulpによる処理の流れ",
        "refs": [
          {
            "url": "https://www.npmjs.com/package/gulp-sass",
            "link_text": "gulp-sass - npm",
          },
          {
            "url": "https://postcss.org/",
            "link_text": "PostCSS - a tool for transforming CSS with JavaScript",
          },
          {

          }
        ]
      },
      {
        "section_no": "SECTION-026",
        "section_title": "PostCSSを利用しよう",
        "refs": [
          {
            "url": "https://www.npmjs.com/package/gulp-sass",
            "link_text": "gulp-sass - npm",
          },
          {
            "url": "https://postcss.org/",
            "link_text": "PostCSS - a tool for transforming CSS with JavaScript",
          },
          {
            "url": "https://www.npmjs.com/package/gulp-postcss",
            "link_text": "gulp-postcss - npm",
          },
          {
            "url": "https://twitter.com/autoprefixer",
            "link_text": "Autoprefixer(@Autoprefixer)さん | Twitter",
          },
          {
            "url": "https://www.npmjs.com/package/autoprefixer",
            "link_text": "autoprefixer - npm"
          },
          {
            "url": "https://twitter.com/browserslist",
            "link_text": "Browserslist(@Browserslist)さん | Twitter"
          },
          {
            "url":"https://github.com/philipwalton/flexbugs",
            "link_text": "philipwalton/flexbugs: A community-curated list of flexbox issues and cross-browser workarounds for them."
          },
          {
            "url": "https://www.npmjs.com/package/postcss-flexbugs-fixes",
            "link_text": "postcss-flexbugs-fixes - npm"
          },
          {
            "url": "https://www.npmjs.com/package/csswring",
            "link_text": "csswring - npm"
          }
        ]
      },
      {
        "section_no": "SECTION-028",
        "section_title": "EJSを利用しよう",
        "refs": [
          {
            "url": "http://ejs.co/",
            "link_text": "EJS -- Embedded JavaScript templates"
          },
          {
            "url": "https://www.npmjs.com/package/pug",
            "link_text": "pug - npm"
          },
          {
            "url": "https://mozilla.github.io/nunjucks/",
            "link_text": "Nunjucks"
          },
          {
            "url": "https://www.npmjs.com/package/gulp-htmlmin",
            "link_text": "gulp-htmlmin - npm"
          },
        ]
      },
      {
        "section_no": "SECTION-029",
        "section_title": "画像処理を行おう",
        "refs": [
          {
            "url": "https://developers.google.com/speed/docs/insights/OptimizeImages?hl=ja",
            "link_text": "画像を最適化する  |  PageSpeed Insights  |  Google Developers"
          },
          {
            "url": "https://www.npmjs.com/package/gulp-imagemin",
            "link_text": "gulp-imagemin - npm"
          },
          {
            "url": "https://pngquant.org/",
            "link_text": "pngquant — lossy PNG compressor"
          },
          {
            "url": "https://www.npmjs.com/package/imagemin-pngquant",
            "link_text": "imagemin-pngquant - npm"
          },
          {
            "url": "https://github.com/imagemin/imagemin-pngquant",
            "link_text": "imagemin/imagemin-pngquant: pngquant plugin for imagemin"
          },
          {
            "url": "https://github.com/svg/svgo",
            "link_text": "svg/svgo: Node.js tool for optimizing SVG files"
          },
        ]
      },
      {
        "section_no": "SECTION-030",
        "section_title": "ブラウザを自動更新しよう",
        "refs": [
          {
            "url": "https://browsersync.io/",
            "link_text": "Browsersync - Time-saving synchronised browser testing"
          },
          {
            "url": "https://www.npmjs.com/package/browser-sync",
            "link_text": "browser-sync - npm"
          },
          {
            "url": "https://pngquant.org/",
            "link_text": "pngquant — lossy PNG compressor"
          },
          {
            "url": "https://www.npmjs.com/package/imagemin-pngquant",
            "link_text": "imagemin-pngquant - npm"
          },
          {
            "url": "https://github.com/imagemin/imagemin-pngquant",
            "link_text": "imagemin/imagemin-pngquant: pngquant plugin for imagemin"
          },
          {
            "url": "https://github.com/svg/svgo",
            "link_text": "svg/svgo: Node.js tool for optimizing SVG files"
          },
        ]
      },
      {
        "section_no": "SECTION-031",
        "section_title": "FTPアップロードを自動化しよう",
        "refs": [
          {
            "url": "https://www.npmjs.com/package/vinyl-ftp",
            "link_text": "vinyl-ftp - npm"
          },
          {
            "url": "https://www.npmjs.com/package/fancy-log",
            "link_text": "fancy-log - npm"
          }
        ]
      }
    ]
  },
  {
    'chapter_no': "CHAPTER06",
    'sections' : [
      {
        "section_no": "SECTION-032",
        "section_title": "webpackの概要",
        "refs": [
          {
            "url": "https://webpack.js.org/",
            "link_text": "webpack"
          }
        ]
      },
      {
        "section_no": "SECTION-033",
        "section_title": "Babelの概要",
        "refs": [
          {
            "url": "https://babeljs.io/",
            "link_text": "Babel · The compiler for writing next generation JavaScript"
          }
        ]
      },
      {
        "section_no": "SECTION-034",
        "section_title": "webpackの基本的な使い方",
        "refs": [
          {
            "url": "https://www.npmjs.com/package/webpack",
            "link_text": "webpack - npm"
          },
          {
            "url": "https://www.npmjs.com/package/npm-run-all",
            "link_text": "npm-run-all - npm"
          }
        ]
      },
      {
        "section_no": "SECTION-036",
        "section_title": "プラグインのインストール",
        "refs": [
          {
            "url": "https://www.npmjs.com/package/babel-loader",
            "link_text": "babel-loader - npm"
          },
          {
            "url": "https://github.com/babel/babel-loader/releases",
            "link_text": "Releases · babel/babel-loader"
          },
          {
            "url": "https://www.npmjs.com/package/@babel/core",
            "link_text": "@babel/core - npm"
          },
          {
            "url": "https://www.npmjs.com/package/@babel/preset-env",
            "link_text": "@babel/preset-env - npm"
          }
        ]
      },
      {
        "section_no": "SECTION-037",
        "section_title": "ライブラリの管理",
        "refs": [
          {
            "url": "https://www.npmjs.com/package/jquery",
            "link_text": "jquery - npm"
          },
          {
            "url": "http://www.commonjs.org/",
            "link_text": "CommonJS: JavaScript Standard Library"
          },
          {
            "url": "https://www.npmjs.com/package/slick-carousel",
            "link_text": "slick-carousel - npm"
          },
          {
            "url": "https://www.npmjs.com/package/style-loader",
            "link_text": "style-loader - npm"
          }
        ]
      }
    ],
  },

];

var test = "test";

%>
<%- include('_partial/head.ejs',{pageTitle:pageTitle}) %>
    <% include _partial/header.ejs %>

        <div class="l-content-wrap">
          <div class="l-sidebar">
            <% include _partial/links-toc.ejs %>
          </div>
          <main class="main">
            <article>
              <h2>
                参考リンク集
              </h2>
              <p>
                <%= test %>
              </p>
              <% for(var linksItem of links) { %>
                <section>
                  <h3 id="<%= linksItem.chapter_no %>">
                    <%= linksItem.chapter_no %>
                  </h3>
                  <% for(var sectionsItem of linksItem.sections) { %>
                    <h4>
                      <%= sectionsItem.section_no %>
                    </h4>
                    <ul>
                      <% for(var refItem of sectionsItem.refs) { %>
                        <li>
                          <a href="<%= refItem.url %>">
                            <%= refItem.link_text %>
                          </a>
                        </li>
                        <% } %>
                    </ul>
                    <% } %>
                </section>
                <% } %>
            </article>
          </main>
        </div>





      <script src="main.js"></script>
      </body>

      </html>
